<!DOCTYPE html>
<html ng-app="viacep">
<head>
	<meta charset="utf-8">
	<title>Via CEP</title>
	<style>
		a {
			text-decoration: none;
		}
		hr {
			width: 335px;
			float: left;
		}
	</style>
</head>
<body ng-controller="viacepCtrl">
<input type="text" placeholder="CEP" ng-model="cep">
<input type="submit" value="Buscar!" ng-click="buscacep(cep)">
<a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCep.cfm" target="_blank"><input type="submit" value="Não sei meu CEP"></a><br>
<input type="submit" value="Limpar Pesquisa" ng-show="cep.length > 0 || data.cep" ng-click="cancel()"><br>
<hr><br>
<div ng-show="data.cep">
CEP: <b>{{data.cep}}</b><br>
Logradouro: <b>{{data.logradouro}}</b><br>
Complemento: <b>{{data.complemento}}</b><br>
Bairro: <b>{{data.bairro}}</b><br>
Localidade: <b>{{data.localidade}}</b><br>
UF: <b>{{data.uf}}</b><br>
</div>
<div ng-hide="data.cep || data == 'error'">
Aguardando CEP...
</div>
<div ng-show="data == 'error'">
O CEP informado não existe!
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>
<script type="text/javascript">
var app = angular.module('viacep', [])
app.controller('viacepCtrl', function($http, $scope){
	$scope.buscacep = function(params){
		$http({
			method: 'GET',
			url: 'https://viacep.com.br/ws/'+params+'/json'
		}).then(function successCallback(response) {
			$scope.data = response.data
		}, function errorCallback(response) {
			$scope.data = 'error'
		})
	}

	$scope.cancel =  function(){
		delete $scope.cep
		delete $scope.data
	}
})
</script>
</body>
</html>